/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: rgb(58, 56, 52);
}

* {
    margin: 0;
    padding: 0;
}

/* styling for 'navigation page' */
nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

/* styling container */
.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Valera Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('assets/img/bg.jpg');
}

/* styling for 'bottom' (contain : progressBar)*/
.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* styling icons near progressBar */
.icons {
    margin-top: 34px;
}
.icons i {
    cursor: pointer;
}

/* Progress Bar for Song */
#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

/* SongItem (songlist) */
.songItemContainer{
    margin-top: 34px;

}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

/* songInfo (bottom) */
.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Valera Round', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
}

/* rsponsiveness */
@media only screen and (max-width: 1100px) {
    body {
    background-color: rgb(53, 51, 51);
    }
}